pandas
addict
fire
numpy>=1.24
tqdm
scipy
scikit-learn
pyyaml
numba
matplotlib
h5py
openpyxl
requests
xgboost
mlflow==2.2.2
notebook
python-box==6.0.2
pyYAML
tqdm
ensure==1.0.2
joblib
types-PyYAML
Flask
Flask-Cors